.form {
    display: flex;
    flex-direction: column;
}

.form > div ~ div {
    margin-top: 10px;
}

.card-actions {
    display: flex;
    justify-content: center;
    padding-bottom: 16px !important;
}

.card-actions button {
    width: 80%;
}